.hero {
    color: $white;
    font-family: $font-family-hero;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-out all 0.3s;
    .container {
        padding-top: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @include breakpoint-mf('md') {
            padding-top: 330px;
        }
    }
    .hero-text {
        align-self: center;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 100px;
        width: 93%;
        @include breakpoint-mf('md') {
            margin-bottom: 240px;
        }
    }
    .h1 {
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.1em;
        transition: all ease-out 0.3s;
        @include breakpoint-mf('xs') {
            font-size: 45px;
        }
        @include breakpoint-mf('md') {
            font-size: 80px;
            line-height: 98px;
        }
    }
    .h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.3em;
        transition: all ease-out 0.3s;
        @include breakpoint-mf('md') {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .title-holder {
        margin-bottom: 20px;
    }
    .btn-holder {
        position: relative;
        margin-bottom: 50px;
    }
    .scroll-btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white;
        background-color: transparent;
        cursor: pointer;
        transition: all ease-out 0.3s;
        position: relative;
        &:hover,
        &:active,
        &:focus-visible {
            transform: scale(1.1);
        }
        &:focus {
            outline: none;
        }
    }
    .arrow {
        position: absolute;
        display: inline-block;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        line-height: 10px;
        height: 10px;
    }
    .arrow-svg {
        width: 100%;
        height: 100%;
        fill: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .swiper-header {
        height: 380px;
        width: 100%;
    }
    .swiper-pagination-vertical.swiper-pagination-bullets {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        transition: ease-in all 0.3s;
        @include breakpoint-mf('md') {
            right: 20px;
        }
        @media screen and (min-width: 1496px) {
            right: -140px;
        }
    }
    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid $white;
        opacity: 1;
        width: 10px;
        height: 10px;
        margin: 40px 0 !important;
    }
    .swiper-pagination-bullet-active {
        background-color: transparent;
        border: 1px solid $white;
        background-color: $white;
    }
}