.what-we-do {
    margin-bottom: 140px;
    padding-top: 100px;
    a {
        list-style: none;
        color: $blue;
        text-decoration: none;
    }
    .what-we-do-pseudo-titel {
        font-size: 20px;
        line-height: 27px;
        display: block;
        text-align: center;
        @include breakpoint ("md") {
            font-size: 15px;
            line-height: 20px;
        }
        @include breakpoint ("xs") {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .what-we-do-title {
        font-size: 45px;
        font-weight: 700px;
        text-align: center;
        margin-bottom: 89px;
        @include breakpoint ("md") {
            font-size: 40px;
            margin-bottom: 80px;
        }
        @include breakpoint ("sm") {
            font-size: 35px;
            margin-bottom: 75px;
        }
        @include breakpoint ("xs") {
            font-size: 30px;
            margin-bottom: 70px;
        }
    }
    .trade-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 140px;
        // position: relative;
        @include breakpoint ("xl") {
            justify-content: center;
            align-items: center;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    .back-holder {
        // min-height: 602px;
        width: 54%;
        position: relative;
        @include breakpoint ("xs") {
            width: 66%;
        }
    }
    .back-color {
        position: absolute;
        z-index: -1;
        top: -9%;
        left: -34%;
        width: 100%;
        height: 100%;
        // top: 300px;        
        // left: 0;
        // min-height: 470px;
        // width: 585px;
        &.violet {
            left: 34%;
        }
        @include breakpoint ("xs") {
            top: -6%;
        }
    }
    .img-holder {
        padding-top: 57px;
    }
    .pseudo-titel {
        margin-bottom: 19px;
        font-size: 22px;
        line-height: 27px;
        @include breakpoint ("md") {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        @include breakpoint ("sm") {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 12px;
        }
        @include breakpoint ("xs") {
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 10px;
        }
    }
    .sub-title {
        font-size: 44px;
        line-height: 54px;
        font-weight: 700px;
        margin-bottom: 19px;
        @include breakpoint ("md") {
            font-size: 40px;
            line-height: 50px;
        }
        @include breakpoint ("sm") {
            font-size: 35px;
            line-height: 45px;
        }
        @include breakpoint ("xs") {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }
    .text-holder {
        max-width: 470px;
        padding-top: 150px;
        @include breakpoint ("lg") {
            justify-content: center;
            align-items: center;
        }
        @include breakpoint ("md") {
            font-size: 15px;
            margin-bottom: 80px;
        }
    }
    .trade-text {
        margin-bottom: 41px;
    }
    .location {
        cursor: pointer;
    }
}