//це глобальні штуки, вони в приницпі ніби у всіх однакові мають бути
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    //по дизайну ширина 1170, але плюс падінги 20px по боках - 1210 виходить
    max-width: 1210px;
    padding: 0 16px;
    margin: 0 auto;
    //я робила через мобайл фьорст, на мобільному 16 паддінг - далі - 20
    @include breakpoint-mf ('md') {
        padding: 0 20px;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: $white;
    color: $blue;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

img {
    display: block;
    width: 100%;
}

.line {
    width: 100px;
    border: 1px solid $blue;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn-holder {
    margin-bottom: 60px;
}

.btn {
    border: 1px solid $blue;
    padding: 17px 41px;
    background-color: $white;
    @include breakpoint ("md") {
        font-size: 15px;
        padding: 15px 38px;
        font-size: 12px;
        line-height: 14px;
    }
}